{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CDA | Career Development Academy Rourkela</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>
<body>
    <div class="container form-container">
        <div class="col-lg-12 mx-auto login-container">
            <div class="row form-header">
                <div class="col-md-2 logocol">
                    <img src="{% static 'assets/images/logo.png' %}" alt="">
                </div>
                <div class="col-md-10 headcol">
                    <h4>Career Development Academy Rourkela</h4>
                    <p>A community with high expectation and high academic achievement</p>
                    <p class="cinfo">
                        <span><i class="fas fa-phone"></i> +91 987 676 5459</span>
                        <span><i class="fas fa-envelope"></i> adarsvidyakendra@gmail.com</span>
                        <span><i class="fas fa-map-marker-alt"></i> Smart City, Rourkela, Odisha</span>
                    </p>
                    {% if messages %}
                        <div class="alert alert-info" role="alert">
                            {% for message in messages %}
                            {{ message }}
                            {% endfor %}
                        </div>
                            {% endif %}
                </div>
            </div>
            <div class="form-body">
                <div class="form-title row">
                    <h4>Student Information</h4>
                </div>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-row row">
                        <div class="col-lg-2 col-md-4">
                            <label for="image">Image</label>
                            <sup class="req">*</sup>
                            <span class="indc">:</span>
                        </div>
                        <div class="col-lg-4 col-md-8">
                            <input type="file" name="image" id="image" class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="form-row row">
                        <div class="col-lg-2 col-md-4">
                            <label for="roll_number">Roll Number</label>
                            <sup class="req">*</sup>
                            <span class="indc">:</span>
                        </div>
                        <div class="col-lg-4 col-md-8">
                            <input type="text" name="roll_number" id="roll_number" placeholder="Roll No" class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="form-row row">
<!--                        <div class="col-lg-2 col-md-4">-->
<!--                            <label for="first_name">First Name</label>-->
<!--                            <sup class="req">*</sup>-->
<!--                            <span class="indc">:</span>-->
<!--                        </div>-->
                        <div class="col-lg-4 col-md-8">
                            <input type="hidden" name="first_name" id="first_name" value="{{user.first_name}}" placeholder="Enter First Name" class="form-control form-control-sm">
                        </div>
                        <div class="col-lg-2 col-md-4">
<!--                            <label for="last_name">Last Name</label>-->
<!--                            <span class="indc">:</span>-->
                        </div>
                        <div class="col-lg-4 col-md-8">
                            <input type="hidden" name="last_name" id="last_name" value="{{user.last_name}}" placeholder="Enter Last Name" class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="form-row row">
                        <div class="col-lg-2 col-md-4">
                            <label for="date_of_birth">Date of Birth</label>
                            <sup class="req">*</sup>
                            <span class="indc">:</span>
                        </div>
                        <div class="col-lg-4 col-md-8">
                            <input type="date" name="date_of_birth" id="date_of_birth" class="form-control form-control-sm">
                        </div>
                        <div class="col-lg-2 col-md-4">
                            <label for="gender">Gender</label>
                            <sup class="req">*</sup>
                            <span class="indc">:</span>
                        </div>
                        <div class="col-lg-4 col-md-8 pt-1">
                            <input type="radio" name="gender" value="Male" id="gender_male"> <label for="gender_male">Male</label>&nbsp;&nbsp;
                            <input type="radio" name="gender" value="Female" id="gender_female"> <label for="gender_female">Female</label>&nbsp;&nbsp;
                            <input type="radio" name="gender" value="Other" id="gender_other"> <label for="gender_other">Other</label>
                        </div>
                    </div>
                    <div class="form-title row">
                        <h4>Parent Details</h4>
                    </div>
                    <div class="form-row row">
                        <div class="col-lg-2 col-md-4">
                            <label for="father_name">Father Name</label>
                            <span class="indc">:</span>
                        </div>
                        <div class="col-lg-4 col-md-8">
                            <input type="text" name="father_name" id="father_name" placeholder="Enter Father Name" class="form-control form-control-sm">
                        </div>
                        <div class="col-lg-2 col-md-4">
                            <label for="father_profession">Father Profession</label>
                            <span class="indc">:</span>
                        </div>
                        <div class="col-lg-4 col-md-8">
                            <input type="text" name="father_profession" id="father_profession" placeholder="Enter Father Occupation" class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="form-row row">
                        <div class="col-lg-2 col-md-4">
                            <label for="mother_name">Mother Name</label>
                            <span class="indc">:</span>
                        </div>
                        <div class="col-lg-4 col-md-8">
                            <input type="text" name="mother_name" id="mother_name" placeholder="Enter Mother Name" class="form-control form-control-sm">
                        </div>
                        <div class="col-lg-2 col-md-4">
                            <label for="mother_profession">Mother Profession</label>
                            <span class="indc">:</span>
                        </div>
                        <div class="col-lg-4 col-md-8">
                            <input type="text" name="mother_profession" id="mother_profession" placeholder="Enter Mother Occupation" class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="form-row row">
                        <div class="col-lg-2 col-md-4">
                            <label for="father_contact_no">Father Contact No</label>
                            <span class="indc">:</span>
                        </div>
                        <div class="col-lg-4 col-md-8">
                            <input type="text" name="father_contact_no" id="father_contact_no" placeholder="Enter Father Contact No" class="form-control form-control-sm">
                        </div>
                        <div class="col-lg-2 col-md-4">
                            <label for="mother_contact_no">Mother Contact No</label>
                            <span class="indc">:</span>
                        </div>
                        <div class="col-lg-4 col-md-8">
                            <input type="text" name="mother_contact_no" id="mother_contact_no" placeholder="Enter Mother Contact No" class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="form-title row">
                        <h4>Contact Information</h4>
                    </div>
                    <div class="form-row row">
                        <div class="col-lg-2 col-md-4">
                            <label for="mobile_number">Mobile Number</label>
                            <sup class="req">*</sup>
                            <span class="indc">:</span>
                        </div>
                        <div class="col-lg-4 col-md-8">
                            <input type="text" name="mobile_number" id="mobile_number" placeholder="Enter Mobile Number" class="form-control form-control-sm">
                        </div>
<!--                        <div class="col-lg-2 col-md-4">-->
<!--                            <label for="email">Email Address</label>-->
<!--                            <sup class="req">*</sup>-->
<!--                            <span class="indc">:</span>-->
<!--                        </div>-->
                        <div class="col-lg-4 col-md-8">
                            <input type="hidden" name="email" id="email" value="{{user.email}}" placeholder="Enter Email Address" class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="form-row row">
                        <div class="col-lg-2 col-md-4">
                            <label for="city">City</label>
                            <span class="indc">:</span>
                        </div>
                        <div class="col-lg-4 col-md-8">
                            <input type="text" name="city" id="city" placeholder="Enter City" class="form-control form-control-sm">
                        </div>
                        <div class="col-lg-2 col-md-4">
                            <label for="state">State</label>
                            <span class="indc">:</span>
                        </div>
                        <div class="col-lg-4 col-md-8">
                            <input type="text" name="state" id="state" placeholder="Enter State" class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="form-row row">
                        <div class="col-lg-2 col-md-4">
                            <label for="country">Country</label>
                            <span class="indc">:</span>
                        </div>
                        <div class="col-lg-4 col-md-8">
                            <input type="text" name="country" id="country" placeholder="Enter Country" class="form-control form-control-sm">
                        </div>
                        <div class="col-lg-2 col-md-4">
                            <label for="postal_code">Postal Code</label>
                            <span class="indc">:</span>
                        </div>
                        <div class="col-lg-4 col-md-8">
                            <input type="text" name="postal_code" id="postal_code" placeholder="Enter Postal Code" class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="form-row row">
                        <div class="col-lg-2 col-md-4">
                            <label for="address">Full Address</label>
                            <span class="indc">:</span>
                        </div>
                        <div class="col-lg-4 col-md-8">
                            <textarea name="address" id="address" rows="5" placeholder="Enter Full Address" class="form-control form-control-sm"></textarea>
                        </div>
                    </div>
                    <div class="form-row row">
                        <div class="col-lg-2 col-md-4"></div>
                        <div class="col-lg-4 col-md-8">
                            <button type="submit" class="btn btn-sm btn-primary">Submit Form</button>
                        </div>
                        <div class="col-lg-2 col-md-4"></div>
                        <div class="col-lg-4 col-md-8">
                            <a href="/student_profile" class="btn btn-sm btn-primary">BACK</a>
                        </div>
                        <div class="col-lg-4 col-md-8"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
